//Clk
NET "PCLK"      LOC = "E3"  |IOSTANDARD =LVTTL |PULLUP;
// Active Low RESET Pin
NET "PRESETn"   LOC = "N17"  |IOSTANDARD =LVTTL ;
//Operation Bit's Pin
NET "PSEL"      LOC = "M16" |IOSTANDARD =LVTTL ;
NET "PWRITE"    LOC = "V17" |IOSTANDARD =LVTTL ;
NET "PENABLE"   LOC = "U18" |IOSTANDARD =LVTTL ;
//Configuration Bit's Switch's
NET "PADDR[2]"  LOC = "C10" |IOSTANDARD =LVTTL ;
NET "PADDR[1]"  LOC = "C11" |IOSTANDARD =LVTTL ;
NET "PADDR[0]"  LOC = "A8" |IOSTANDARD =LVTTL ;
//Data Input Pin,Apb Slave To Spi Mosi
NET "PWDATA[7]" LOC = "T16" |IOSTANDARD =LVTTL ;
NET "PWDATA[6]" LOC = "T15" |IOSTANDARD =LVTTL ;
NET "PWDATA[5]" LOC = "T14" |IOSTANDARD =LVTTL ;
NET "PWDATA[4]" LOC = "R12" |IOSTANDARD =LVTTL ;
NET "PWDATA[3]" LOC = "T11" |IOSTANDARD =LVTTL ;
NET "PWDATA[2]" LOC = "P14" |IOSTANDARD =LVTTL ;
NET "PWDATA[1]" LOC = "U16" |IOSTANDARD =LVTTL ;
NET "PWDATA[0]" LOC = "V15" |IOSTANDARD =LVTTL ;
//Data Input Pin,Spi Master To Apb Slave
NET "miso"      LOC = "N15"  |IOSTANDARD =LVTTL ;
//Apb Slave Output Pin,From Spi Miso
NET "PRDATA[7]" LOC = "G6"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
NET "PRDATA[6]" LOC = "F6"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
NET "PRDATA[5]" LOC = "E1"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
NET "PRDATA[4]" LOC = "G3"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
NET "PRDATA[3]" LOC = "J4"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
NET "PRDATA[2]" LOC = "G4"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8; 
NET "PRDATA[1]" LOC = "J3"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
NET "PRDATA[0]" LOC = "J2"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
//Slave Select Output Led
NET "ss1"       LOC = "J5"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
//Slave Select Output Pin
NET "ss0"      LOC = "T18"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;//38
//Mosi Output Pin
NET "mosi"      LOC = "R18"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;//39
//Sclk Output Pin
NET "sclk"    LOC = "P18"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;//40
//Pready Led
NET "pready"      LOC = "T9"  |IOSTANDARD =LVTTL |SLEW=SLOW |DRIVE=8;
#Created by Constraints Editor (xc7a100t-csg324-3) - 2022/12/10
NET "PCLK" TNM_NET = PCLK;
TIMESPEC TS_PCLK = PERIOD "PCLK" 30 MHz HIGH 50%;
NET "clkdivider/clk" TNM_NET = clkdivider/clk;
TIMESPEC TS_clkdivider_clk = PERIOD "clkdivider/clk" 15 MHz HIGH 50%;
