NET "PCLK"      LOC = "E3"  | IOSTANDARD =LVTTL | PULLUP;

NET "PRESETn"   LOC = "N17"  | IOSTANDARD =LVTTL ;
NET "PSEL"      LOC = "M16" | IOSTANDARD =LVTTL ;
NET "PWRITE"    LOC = "V17" | IOSTANDARD =LVTTL ;
NET "PENABLE"   LOC = "U18" | IOSTANDARD =LVTTL ;

NET "PADDR[2]"  LOC = "C10" | IOSTANDARD =LVTTL ;
NET "PADDR[1]"  LOC = "C11" | IOSTANDARD =LVTTL ;
NET "PADDR[0]"  LOC = "A8" | IOSTANDARD =LVTTL ;

NET "PWDATA[7]" LOC = "T16" | IOSTANDARD =LVTTL ;
NET "PWDATA[6]" LOC = "T15" | IOSTANDARD =LVTTL ;
NET "PWDATA[5]" LOC = "T14" | IOSTANDARD =LVTTL ;
NET "PWDATA[4]" LOC = "R12" | IOSTANDARD =LVTTL ;
NET "PWDATA[3]" LOC = "T11" | IOSTANDARD =LVTTL ;
NET "PWDATA[2]" LOC = "P14" | IOSTANDARD =LVTTL ;
NET "PWDATA[1]" LOC = "U16" | IOSTANDARD =LVTTL ;
NET "PWDATA[0]" LOC = "V15" | IOSTANDARD =LVTTL ;

NET "miso"      LOC = "N15"  | IOSTANDARD =LVTTL ;


NET "PRDATA[7]" LOC = "G6"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[6]" LOC = "F6"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[5]" LOC = "E1"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[4]" LOC = "G3"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[3]" LOC = "J4"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[2]" LOC = "G4"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8; 
NET "PRDATA[1]" LOC = "J3"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "PRDATA[0]" LOC = "J2"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;

NET "ss0"       LOC = "H5"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "ss1"       LOC = "J5"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;

NET "PREADY"      LOC = "T18"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;//38
//NET "SPTEF"      LOC = "R18"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;//39
//NET "TXC"    LOC = "P18"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;//40

NET "sclk"      LOC = "T9"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
NET "mosi"      LOC = "T10"  | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;
